::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 204, 204);
  border-radius: 10em;
  margin: 0.1em;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(243, 119, 119);
  border-radius: 10em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.form {
  background-color: rgb(145, 219, 248);
  height: 10vh;
  align-items: center;
}
form {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.to-do {
  display: flex;
  justify-content: space-around;
  min-height: 90vh;
  height: fit-content;
  background-image: linear-gradient(
    to right,
    rgba(232, 158, 210, 0.69) 45%,
    rgb(157, 234, 187) 55%
  );
}
.task,
.completed {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.task {
  gap: 15px;
}
.completed h1,
.task h1 {
  color: white;
  text-shadow: 2px 2px 4px black;
}
.completed h4,
.task h4 {
 text-transform: capitalize;
}
.todo-item {
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  align-items: center;
  width: 70%;
}

.task-info {
  display: flex;
  gap: 15px;
  align-items: center;
}
.task-info h4 {
  margin: 0;
}
.task-info p {
  margin: 0;
}
.delete {
  color: rgb(255, 0, 0);
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
}

.progress {
  position: fixed;
  top: 10%;
  left: 82%;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.progress h3 {
  text-shadow: 1px 1px 5px black;
}
.edit {
  border: 2px dotted rgb(44, 44, 44);
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.todo-edit {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr) repeat(2, 0.5fr);
  column-gap: 10px;
  height: 10%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #750000;
  cursor: pointer;
  border: none;
}
input[type='checkbox'] {
  cursor: pointer;
}
.back {
  position: fixed;
  top: 2%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.back button,
.back h4 {
  padding: 0;
  margin: 0;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-transform: capitalize;
  background-image: linear-gradient(to bottom , #333 0 , #555 50% , #888 100%);
  color: #58c2ff;
}

.date h2 {
  text-shadow: 0px 0px 4px #333;
}


.search {
  position: absolute;
}
